<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.briscolav10">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- If your app targets Android 9 or lower, you can declare
         ACCESS_COARSE_LOCATION instead. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"

        android:theme="@style/Theme.BriscolaV10">

        <activity android:name=".ActivityGame"
            android:noHistory="true"
            android:parentActivityName = "Home.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            ><intent-filter>
            <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>        <activity android:name=".postPartita"
            android:noHistory="true"
            android:parentActivityName = "Home.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"

            >
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
        </intent-filter>
        </activity>
        <activity android:name="multiplayer.MultiplayerActivity"
            android:parentActivityName = "Home.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name="multiplayer.Game.ActivityMultiplayerGame"
            android:parentActivityName = "Home.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            >
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
        </intent-filter>
    </activity>

        <activity android:name="Login.LoginActivity"
            android:parentActivityName = "Home.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name="Home.LoadingScreen"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:noHistory="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ProvaLoginFirebase"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:noHistory="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

            </intent-filter>
        </activity>
        <activity android:name="Home.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3432724503217594~8170298474"/>

    </application>




</manifest>